.mainCont {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonClick-container {
  /* background-color: yellow; */
  margin-top: -150px;
  height: 50%;
  width: 90%;
}
.ButtonClick-littlecontainer {
  height: 100%;
}

.currency-container {
  display: flex;
  margin-bottom: 20%;
}

.currency-1 {
  width: 50%;
}
.infoText {
  color: white;
  opacity: 40%;
  font-weight: bold;
  text-align: left;
  font-size: large;
  text-shadow: 0 0 0px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  margin-bottom: 5%;
}
.currency-2 {
  width: 50%;
}

.destroyedPlanets-cont {
  /* background-color: blue; */
  font-size: 80px;
  color: #03e9f4;
  text-align: center;
  text-shadow: 0 0 0px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  height: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency {
  font-size: x-large;
  text-align: right;
  color: white;
  opacity: 40%;
  font-weight: bold;
  text-shadow: 0 0 0px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  margin-bottom: 5%;
}
.descText {
  color: white;
  opacity: 40%;
  font-weight: bold;
  text-align: center;
  font-size: large;
  text-shadow: 0 0 0px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  margin-bottom: 5%;
}

.upgradesText {
  color: #03e9f4;
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  text-shadow: 0 0 0px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  margin-bottom: 5%;
  opacity: 70%;
}
.upgradeList-contatiner {
  /* background-color: aqua; */
  height: 20%;
  display: flex;
  justify-content: center;
}
.upgradeList {
  /* background-color: aliceblue; */
  width: 100%;
}
.upgradeButton {
  width: 45%;
  padding: 10px;
  overflow: hidden;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

/* ///////////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.mainButton {
  margin-top: 20%;
  padding: 25px 30px;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-size: xx-large;
}

.mainButton:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.upgradeButton:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@media only screen and (min-width: 768px) {
  .upgradeButton {
    width: 20%;
    padding: 10px;
    overflow: hidden;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    background-color: #050801;
    color: #03e9f4;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  .ButtonClick-container {
    /* background-color: yellow; */
    margin-top: -250px;
    height: 50%;
    width: 90%;
  }
}
